@font-face {
    font-family: "windsor_light_condensed";
    src: url(windsor_light_condensed_font.woff) format("woff");
    font-weight: normal;
    font-style: normal;
}

html {
    height: 100%;
}

html, body{
    height: 100%;
    display:flex;
    flex-direction: column;
}

.header {
    font-family: "windsor_light_condensed";
    text-align: left;
    width:auto;
    font-size: 4em;
    padding-top: 20px;
    padding-bottom: 15px;
    margin-left: 50px;
    margin-right: 50px;
    border-bottom: 1.5px solid;
    border-bottom-width: 95%;
}

.header img {
    margin: auto;
    padding: 25px;
    list-style: none;
    float: right;
    height: 60px;
    width:65px;
}

@media (max-width: 600px){
    .header {
        white-space: nowrap;
        overflow: hidden;
    }
    .header * {
        font-size: 8vw !important;
        line-height:1;
    }

    .Links * {
        font-size: 5vw !important;
    }
}

.Links {
    font-family: "windsor_light_condensed";
    font-size: 2.5em;
    font-weight:500;
    width: 50%;
    height: auto;
    margin-top: 40px;
    margin-left: 75px;
    margin-right: 50px;
    text-decoration: underline;
    text-decoration-thickness: 1.5px;
}

.Links a:hover {
    color: dimgrey;
}

.essays {
    max-width: 60ch;
    font-family: "Times New Roman",Times,serif;
    margin-top: 50px;
    margin-left: 75px;
    margin-right: 75px;
    font-size: 1.0em;
    line-height: 1.1;
}

#footer {
    margin-top: auto;
    font-family: "windsor_light_condensed";
    text-align: left;
    font-size: 1em;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-left: 50px;
    margin-right: 50px;
    border-top: 1.5px solid;
    border-top-width: 95%;
}

#footer a:hover {
    color: dimgrey;
}


a:visited {
    color: inherit;
  }

a{
    color:inherit;
    text-decoration: none;
}  
























